:root {
  --background: #102050;
  --text: #F5F0F6;
  --tab-bg: #1A70C7;
  --inactive-tab-bg: #484858;
  --headers: #73DC2E;
  --step: 10px;
  --radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

section.main {
  margin: 0 var(--step) var(--step) var(--step);
  background: var(--tab-bg);
  overflow: auto;
  padding: var(--step);
  border-radius: 0 0 var(--radius) var(--radius);
}

nav {
  margin: var(--step) var(--step) 0 var(--step);
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

nav > div.links {
  float: left;
}

nav > div.languages {
  float: right;
}

nav a {
  display: inline-block;
  color: var(--text);
  padding: var(--step);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--radius) var(--radius) 0 0;
}

nav > div.links a {
  margin: 0 var(--step) 0 0;
}
nav > div.languages a {
  margin: 0 0 0 var(--step);
  width: 42px;
  text-align: center;
}

nav a:link, nav a:visited {
  display: inline-block;
  background: var(--inactive-tab-bg);
}
nav a:hover {
  display: inline-block;
  color: var(--background);
  background: var(--headers);
}
nav a:active {
  display: inline-block;
  background: var(--text);
}
nav a.selected:link, nav a.selected:visited, nav a.selected:hover {
  display: inline-block;
  background: var(--tab-bg);
  color: var(--text);
}

p {
  margin: 0;
}

h1, h2, h3 {
  color: var(--headers);
}

div.switcher > button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: var(--step);
  margin: 0 var(--step) 0 0;
  background: var(--inactive-tab-bg);
  color: var(--text);
}

div.switcher > button:hover {
  background: var(--headers);
  color: var(--background);
}

div.switcher > button.selected {
  background: var(--text);
  color: var(--background);
}

table, th, td {

}
table {
  border: 4px solid var(--headers);
  border-collapse: collapse;
}
th, td {
  border: 2px solid var(--headers);
  padding: var(--step);
}